My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "596e42de-e4ac-4b19-a11a-08c074b3289b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&order=market_cap_desc&per_page=10&page=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "d91f07d5-73bc-44a7-9e6c-9ce57698844f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each one\nresult = []\n\nfor item in _items[:5]:\n    result.append({\n        \"json\": {\n            \"name\": item[\"json\"][\"name\"],\n            \"symbol\": item[\"json\"][\"symbol\"],\n            \"current_price\": item[\"json\"][\"current_price\"]\n        }\n    })\n\nreturn result"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "ff628758-6ab6-4445-a710-1fc38532e820",
      "name": "Code in Python"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2bf8ef19-ebea-4398-9219-85701c2ceb96",
              "leftValue": "={{$json[\"current_price\"]}}",
              "rightValue": 1000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "089531c9-2a96-4ae3-bbe3-13fa499213c3",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/ping",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        -96
      ],
      "id": "8db0470a-778d-4736-adad-0764527e5186",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZTqfklkDfuyQ-2Ne6CrKIrAA7HscBSS6WKYmRhdsvoY",
          "mode": "list",
          "cachedResultName": "Crypto_Digest",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZTqfklkDfuyQ-2Ne6CrKIrAA7HscBSS6WKYmRhdsvoY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 628381704,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZTqfklkDfuyQ-2Ne6CrKIrAA7HscBSS6WKYmRhdsvoY/edit#gid=628381704"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{$node[\"If\"].json[\"name\"]}}",
            "symbol": "={{$node[\"If\"].json[\"symbol\"]}}",
            "current_price": "={{$node[\"If\"].json[\"current_price\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "symbol",
              "displayName": "symbol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_price",
              "displayName": "current_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        -96
      ],
      "id": "d45f563b-6c62-45c7-989b-5981b4c4e053",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BsKoCFJnwVSQM936",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "29bceb20-be82-4287-8ff4-6c6326104b1a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "876f24f48c3359111cecbed9ca4f6c230ae507d02dbd47a5a5f2ec14529c7181"
  },
  "id": "ONdAIWR3ZOUcmycq",
  "tags": []
}